## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Build results
[Dd]ebugPublic/
[Rr]eleases/
build/
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

## MAUI
*.mdb
*.lref

## OS
.DS_Store
Thumbs.db
*.swp
*~
